<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 selfie">
      <img src="/images/self.jpg" alt="Kevin Wang" class="img-rounded" width="333" height="225">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>About Me</h1>
      <div>
        <p>Born in a faraway land called New York, Kevin Wang is truly one in a million <em>(seriously, search "Kevin Wang")</em>. He is a Boston University graduate with a degree in Economics and Business Administration who took a CS course the last semester of college and was smitten. His love for logic and troubleshooting problems and quick learning allowed him to excel at all his jobs. His latest role was an IT business analyst, but now he has leveled up and has become a web developer.</p>
        <p>Kevin has written in <strong>Ruby</strong>, <strong>JavaScript</strong> and <strong>HTML</strong>. In addition to using <strong>Rails</strong>, <strong>CSS</strong>, <strong>React</strong>, <strong>Redux</strong>, <strong>JSON</strong>, <strong>jQuery</strong>, <strong>SQL</strong>, <strong>Node</strong>, <strong>Express</strong>, <strong>NoSQL</strong> and <strong>Angular2</strong>. He continues to add more knowledge to his aresenal. Stay tuned...</p>
      </div>
    </div>
  </div>
</div>
