<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="../assets/self.jpg">
    <title>Kevin Wang</title>
    <%= csrf_meta_tags %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
